<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <img width="50" height="50" src="../../assets/img/avatar.svg">
    
    <p>{{ (authUser$ | async)?.nombre }}</p>
    <p>{{ (authUser$ | async)?.email }}</p>

    <mat-nav-list>
      <a
      [routerLink]="link.path"
       mat-list-item       
       *ngFor="let link of links" class="titulo">
        <mat-icon >{{link.icon}}</mat-icon> {{ link.title }}
      </a>
      <button mat-raised-button mat-dialog-close (click)="logOut()" color="primary">Cerrar Sesion</button>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <div class="navbar">
      <div>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>

</mat-drawer-container>
  