<h1>
    Administracion de Usuarios
  </h1>

  <button (click)="crearUsuario()" type="button" color="primary" mat-flat-button >
    <mat-icon>add</mat-icon>
    Crear inscripcion
  </button>
  
  <p *ngIf="(user$ | async)?.loading; else ifNotLoading">CARGANDO DATA...</p>

  <ng-template #ifNotLoading>
  
    <article>
      <mat-card *ngFor="let usuarios of (user$ | async)?.usuario">
        <mat-card-header >
          <mat-card-title >
            N°:  {{ usuarios.id }}
        </mat-card-title>
          <mat-card-subtitle >
            Nombre: {{usuarios.nombre}}
          </mat-card-subtitle>
          <mat-card-subtitle >
            Apellido: {{usuarios.apellido}}
          </mat-card-subtitle>
          <mat-card-subtitle >
            @Email: {{usuarios.email}}
          </mat-card-subtitle>
          <mat-card-subtitle >
            Contraseña: {{usuarios.password}}
          </mat-card-subtitle>
          <mat-card-subtitle >
            Token: {{usuarios.token}}
          </mat-card-subtitle>
          <mat-card-subtitle >
            Role: {{usuarios.role}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button (click)="eliminarUsuarioPorId(usuarios.id)"  mat-icon-button color="warn" type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      </article>
  </ng-template>