 article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-card{
    display: grid;
    grid-template-areas: "info boton";
    width: 90%;
    margin: 10px;
}
mat-card-header{
    grid-area: info;
    padding-bottom: 10px;
}
mat-card-actions{
    grid-area: boton;
    display: flex;
    justify-content: end;
}



