<h1>
  Administracion de Alumnos
</h1>

<button (click)="crearAlumnos()" type="button" color="primary" mat-flat-button > 
  <mat-icon>add</mat-icon> 
  Agregar Alumnos
</button>

<p *ngIf="(alumno$ | async)?.loading; else ifNotLoading">CARGANDO DATA...</p>

<ng-template #ifNotLoading>

  <article>
    <mat-card *ngFor="let alumnos of (alumno$ | async)?.alumno">
      <mat-card-header >
        <mat-card-title >
          N°:  {{ alumnos.id }}
      </mat-card-title>
        <mat-card-subtitle >
          Nombre: {{alumnos.nombre}}
        </mat-card-subtitle>
        <mat-card-subtitle >
          Apellido: {{alumnos.apellido}}
        </mat-card-subtitle>
        <mat-card-subtitle >
          @Email: {{alumnos.email}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button  mat-icon-button (click)="eliminarAlumno(alumnos.id)" color="warn" type="button">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    </article>
</ng-template>