<main>
<h1 mat-dialog-title>ABM Alumnos</h1>
<div mat-dialog-content class="container text-center" >
    <form class="grid formgrid" [formGroup]="usuarioForm" >
    <div class="row">
        <div class="col-12 field">            
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input [formControl]="nombreControl" type="text" matInput>
            <mat-error *ngFor="let error of nombreControl.errors | keyvalue">{{ error | controlErrorMessages}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12 field">            
        <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input [formControl]="apellidoControl" type="text" matInput>
            <mat-error *ngFor="let error of apellidoControl.errors | keyvalue">{{ error | controlErrorMessages}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12 field">            
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input [formControl]="emailControl"
             type="email" matInput>
            <mat-error *ngFor="let error of emailControl.errors | keyvalue">{{ error | controlErrorMessages}}</mat-error>
            </mat-form-field>
        </div>
    </div> 
    <div class="row">
        <div class="col-12 field">            
        <mat-form-field>
            <mat-label>password</mat-label>
            <input [formControl]="passwordControl" type="text" matInput>
            <mat-error *ngFor="let error of apellidoControl.errors | keyvalue">{{ error | controlErrorMessages}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12 field">            
        <mat-form-field>
            <mat-label>Token</mat-label>
            <input [formControl]="tokenControl" type="text" matInput>
            <mat-error *ngFor="let error of tokenControl.errors | keyvalue">{{ error | controlErrorMessages}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="col-12 field">
        <mat-form-field>
          <!-- <input matInput /> -->
          <mat-label>Role</mat-label>
          <mat-select [formControl]="selectedUsuarioControl">
            <mat-option [value]="usuario"  *ngFor="let usuario of usuarios">
                 {{usuario.role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>       
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
    <button (click)="onSave()" mat-raised-button color="primary">Guardar</button>
</div>

</main>

