<h1>
  Administracion de Cursos
</h1>

<button (click)="crearCurso()" type="button" color="primary" mat-flat-button > 
  <mat-icon>add</mat-icon> 
  Crear inscripcion
</button>



<p *ngIf="(curso$ | async)?.loading; else ifNotLoading">CARGANDO DATA...</p>

<ng-template #ifNotLoading>

  <article>
    <mat-card *ngFor="let curso of (curso$ | async)?.cursos">
      <mat-card-header >
        <mat-card-title >
          {{ curso.id + ' - ' + curso.subject.nombre }}
      </mat-card-title>
        <mat-card-subtitle >
          Fecha de inicio: {{curso.fecha_inicio}}
        </mat-card-subtitle>
        <mat-card-subtitle >
          Fecha Final: {{curso.fecha_fin}}
        </mat-card-subtitle>
        <mat-card-subtitle >
          {{curso.subject.description}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button class="eliminar" (click)="eliminarCurso(curso.id)" mat-flat-button color="warn" type="button">eliminar
        </button>
      </mat-card-actions>
    </mat-card>
    </article>

</ng-template>